<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Help</title>
    <meta name="description" content="Math Help is your go-to resource for solving calculus, linear algebra, and mathematical analysis problems. Explore our collection of over  90 online calculators and step-by-step solutions.">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header class="header">
    <div class="logo">
        <img src="/static/img/logo.jpg" alt="MathHelp Logo" width="200" height="100">
    </div>
    
    <nav class="nav">
        <ul>
            <li><a href="/integration">Integration</a></li>
            <li><a href="/derivative">Derivative</a></li>
            <li><a href="/matrix">Matrix</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>
<main class="main">
    <h2>Welcome to MathHelp!</h2>
    <p>Are you a student struggling with calculus, linear algebra, or mathematical analysis? Look no further! Math Help is your go-to resource for solving typical problems in these fundamental areas. Our site hosts a collection of over  90 online calculators, meticulously designed to assist you step by step.</p>
    <h3>What We Offer:</h3>
    <ul>
        <li><strong>Integration and Derivatives Calculators:</strong>
            <ul>
                <li>Solve integrals and derivatives effortlessly.</li>
                <li>Explore simple, partial, implicit, and parametric function derivatives.</li>
                <li>Dive into Taylor series expansions for even the most complex functions.</li>
            </ul>
        </li>
        <li><strong>Matrix Operations:</strong>
            <ul>
                <li>Perform matrix arithmetic, including addition, subtraction, and multiplication.</li>
                <li>Find determinants, ranks, traces, inverses, eigenvalues, and eigenvectors.</li>
                <li>Transform matrices using transpose, power, and row reduced form operations.</li>
            </ul>
        </li>
        <li><strong>Equations and Limits:</strong>
            <ul>
                <li>Solve algebraic equations of any degree.</li>
                <li>Tackle systems of linear algebraic equations.</li>
                <li>Handle limits with ease.</li>
            </ul>
        </li>
    </ul>
    <h2>Why Choose Math Help?</h2>
    <ul>
        <li><i class="far fa-check-circle feature-icon"></i><strong>Step-by-Step Solutions:</strong> Our calculators provide detailed explanations at every stage of the solution.</li>
        <li><i class="far fa-check-circle feature-icon"></i><strong>Accuracy:</strong> We’ve fine-tuned our algorithms to ensure correctness.</li>
        <li><i class="far fa-check-circle feature-icon"></i><strong>Trusted by Many:</strong> Over  1,000,000 tasks have been solved using our online calculators.</li>
        <li><i class="far fa-check-circle feature-icon"></i><strong>Constant Improvement:</strong> We’re committed to enhancing our tools and adding new features regularly.</li>
    </ul>
</main>
<footer>
    <p>&copy;  2024 Math Help</p>
</footer>
</body>
</html>
