<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Help</title>
    <meta name="description" content="Math Help is your go-to resource for solving calculus, linear algebra, and mathematical analysis problems. Explore our collection of over  90 online calculators and step-by-step solutions.">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Matrix Operations</h1>
    <ul>
        <li><a href="/matrix/matrix_det.html">Matrix Determinant</a></li>
        <li><a href="/matrix/matrix_add.html">Matrix Addition</a></li>
        <li><a href="/matrix/matrix_sub.html">Matrix Subtraction</a></li>
        <li><a href="/matrix/matrix_trnp.html">Matrix Transpose</a></li>
        <li><a href="/matrix/matrix_LU_dool.html">Matrix LU Decomposition</a></li>
        <li><a href="/matrix/gauss_eli.html">Gaussian Elimination</a></li>
    </ul>
</body>
</html>